<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome  <%= title %></p>
    <a href="/users/login">
      <button>Login</button>
    </a>
    <a href="/users/register">
      <button>Register</button>
    </a>
  </body>
</html>
