<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/36e351b577.js" crossorigin="anonymous" defer></script>
    <title>Document</title>

</head>
<body>
    <header class="header">
        <div class="container content">
            <h1>E-Commerce</h1>
            <nav class="navigation">
                <ul class="nav_list">
                    <li>
                        <span>Hi, <%= user.name%>! (<%= user.isAdmin%>)</span>
                    </li>
                    <li>
                        <a href="/admin/product/new">
                            <button>Add Product</button>
                        </a>
                    </li>
                    <li>
                        <a href="/users/logout">
                            <button>Logout</button>
                        </a>
                    </li>
                    
                </ul>
            </nav>
        </div>
    </header>
