<%- include('partials/header') -%>
  <main>
    <div class="hero-index">
      <div class="container">
        <div class="hero-index-content-container">
          <div class="hero-index-content">
            <h2>Welcome to Ecommerce Website, we promise you a fastest and best in class service for all your need on a click of button</h2>
            <h2>Please Login/Register to continue</h2>
          </div>
          
        </div>
        
      </div>
    </div>
  </main>

<%- include('partials/footer') -%>
